/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        margin-right: auto;
        margin-left: auto;
        height: 60%;
        width: 80%;
        
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }